NEXT_PUBLIC_SUPABASE_URL=https://luiizrrjqqeyicbkovid.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Xzn_x0QM4r8ANoQ1qjbi5g_D-P0cMmN
SUPABASE_SERVICE_ROLE_KEY=
KEY_ENCRYPTION_SECRET=
