NEXT_PUBLIC_SUPABASE_URL=https://tjbqizybzatonimyidtw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_SxXCaHfLzn81Jp8nIjztgQ_KPg3By0O
SUPABASE_SERVICE_ROLE_KEY=
KEY_ENCRYPTION_SECRET=
f